# vscode/ide/virtual env/logs
.vscode
.idea
.venv
*.patch
.build-context/

# python byte codes/caches
*.py[cod]
__pycache__
.pytest_cache

#py.test
.cache

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
*.zip

# Installer logs
pip-log.txt
latest-commit-id.txt
*.log

# Unit test / coverage reports
cicd/.coverage
cicd/coverage.xml
cicd/coverage_html
.tox
.cache
nosetests.xml
symbols
htmlcov

# Docs temp files
docs/api-docs/js/

# build temp files
build-scripts/.build-context/
build-scripts/.env
build-scripts/images/
build-scripts/output/
build-scripts/cli/output/

