# vscode/ide/virtual env/logs
.vscode
.zhanlu
.idea
.venv
*.patch
.build-context/

# python byte codes/caches
*.py[cod]
__pycache__
.pytest_cache

#py.test
.cache

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
*.zip
*.pdb
*.so

# Installer logs
pip-log.txt
latest-commit-id.txt
*.log

# Unit test / coverage reports (QCOS)
cicd/reports

.tox
.cache
nosetests.xml
symbols
htmlcov

# Doc temp files
docs/api-docs/js/
docs/api-docs/dist/
docs/sphinx/source/api/

# build temp files
build-scripts/.build-context/
build-scripts/.env
build-scripts/images/
build-scripts/output/
build-scripts/cli/output/

# others
requirements/requirements/

