# ide/virtual env/logs
.idea
.venv
*.patch
.build-context/

# python byte codes/caches
*.py[cod]
__pycache__
.pytest_cache

#py.test
.cache

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage*
.tox
.cache
nosetests.xml
symbols
htmlcov

# build temp files
build-scripts/.build-context/
build-scripts/.env
build-scripts/images/
build-scripts/output/
