annotated-types==0.7.0
anyio==4.9.0
click==8.2.1
fastapi==0.115.12
fastapi-jsonrpc==3.4.1
h11==0.16.0
idna==3.10
networkx==3.4.2
numpy==1.24.0
pydantic==2.11.5
pydantic_core==2.33.2
scipy==1.15.3
sniffio==1.3.1
starlette==0.46.2
typing-inspection==0.4.1
typing_extensions==4.13.2
uvicorn==0.34.2

#aioconsole==0.8.1
#APScheduler==3.11.0
#asttokens==3.0.0
#certifi==2025.4.26
#charset-normalizer==3.4.2
#click==8.1.8
#colorama==0.4.6
#comm==0.2.2
#contourpy==1.3.2
#cycler==0.12.1
#decorator==5.2.1
#deprecation==2.1.0
#exceptiongroup==1.3.0
#executing==2.2.0
#fonttools==4.58.0
#h11==0.16.0
#h5py==3.13.0
#hightime==0.2.2
#idna==3.10
#ipython==8.36.0
#ipyvue==1.11.2
#ipyvuetify==1.11.1
#ipywidgets==8.1.7
#itsdangerous==2.2.0
#jedi==0.19.2
#Jinja2==3.1.6
#jupyterlab_widgets==3.0.15
#kiwisolver==1.4.8
#MarkupSafe==3.0.2
#matplotlib==3.7.0
#matplotlib-inline==0.1.7
#networkx==3.4.2
#nidaqmx==1.0.2
#numpy==1.24.0
#opencv-python==4.11.0.86
#packaging==25.0
#parso==0.8.4
#pillow==11.2.1
#pip==25.0.1
#ply==3.11
#prompt_toolkit==3.0.51
#pure_eval==0.2.3
#Pygments==2.19.1
#pyparsing==3.2.3
#PySide6==6.9.0
#PySide6_Addons==6.9.0
#PySide6_Essentials==6.9.0
#python-dateutil==2.9.0.post0
#python-decouple==3.8
#requests==2.32.3
#scipy==1.15.3
#setuptools==80.3.1
#shiboken6==6.9.0
#six==1.17.0
#stack-data==0.6.3
#traitlets==5.14.3
#typing_extensions==4.13.2
#tzdata==2025.2
#tzlocal==5.3.1
#urllib3==2.4.0
#uvicorn==0.34.2
#wcwidth==0.2.13
#widgetsnbextension==4.0.14
