# QCOS venv requirements
aiohttp==3.12.13
alembic==1.16.3
annotated-types==0.7.0
anyio==4.9.0
argcomplete==3.6.2
bcrypt==5.0.0
click==8.1.8
cliff==4.10.0
cryptography==45.0.7
fastapi==0.122.1
fastapi-jsonrpc==3.4.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
jsonrpcclient==4.0.3
loguru==0.7.3
matplotlib==3.10.8
mqt.qcec==3.3.0
networkx==3.3
numexpr==2.14.1
numpy==1.26.4
openpulse==1.0.1
openqasm3==1.0.1
opentelemetry-api==1.39.1
oqpy==0.3.10
passlib==1.7.4
pg8000==1.31.5
ply==3.11
poetry==2.1.3
prefect==3.6.9; sys_platform == 'linux'
prometheus-client==0.21.1
psutil==7.1.3
pulp==3.2.2
pycasbin==2.8.0
pydantic==2.11.5
pydantic_core==2.33.2
pydocket==0.16.3
PyJWT==2.12.1
pytest==8.4.1
pytest-asyncio==0.21.1
pytest-cov==6.2.1
python-jose==3.5.0
python-socketio==5.12.1
PyYAML==6.0.3
redis==7.1.0
requests==2.32.5
rustworkx==0.17.1
schema==0.7.7
scipy==1.17.0
setproctitle==1.3.7
sniffio==1.3.1
sqlalchemy==2.0.48
sqlalchemy-adapter==1.9.0
sqlalchemy-utils==0.42.1
starlette==0.50.0
tomlkit==0.13.3
typing-inspection==0.4.1
typing_extensions==4.15.0
uvicorn==0.34.2
wheel==0.45.1
# driver: hanyuan1 only
zerorpc==0.6.3
