# for docs only
alabaster==1.0.0
autodoc-pydantic==2.2.0
doc8==2.0.0
docutils==0.21.2
docxbuilder==1.2.0
linkify-it-py==2.0.3
mdformat==1.0.0
myst-parser==4.0.1
pallets-sphinx-themes==2.3.0
sphinx==8.1.3
sphinxcontrib-mermaid==1.2.3
sphinxcontrib-plantuml==0.31
sphinx_rtd_theme==3.0.2
sphinxcontrib-jquery==4.1

# auto api docs
fastapi==0.122.1
numpy==1.26.4
rustworkx==0.16.0
