# Vendor drivers dependencies
# SpinQ rpc-driver only
future==1.0.0
gevent==25.9.1
pyzmq==27.1.0
zerorpc==0.6.3

# UQC driver only
openqasm3==1.0.1
python-socketio==5.12.1
uqc_client==0.1.0

# QUTIP driver only
qutip==5.2.2
qutip-qip==0.4.1
