# copy env.template to .env, and configure .env
# QCOS configures
DEBUG=False
LOCAL_CICD=False
DEV=False
YUM_MIRROR=
PIP_MIRROR=

# prefect configures
PREFECT_SERVER_API_HOST=127.0.0.1

# container image name and version
QCOS_CONTAINER_NAME=qcos
QCOS_IMAGE_NAME=qcos
QCOS_IMAGE_VERSION=2025-06-01
PREFECT_IMAGE_NAME=prefecthq/prefect
PREFECT_IMAGE_VERSION=3.3.3-python3.13
CONTAINER_BASE_IMAGE=openeuler/openeuler:24.03-lts
OUTPUT_IMAGE_DIR=./images
REGISTRY=
