# copy env.template to .env, and configure .env
# QCOS configures
DEBUG=False
LOCAL_CICD=False
DEV=False
YUM_MIRROR=http://mirrors.cmecloud.cn
PIP_MIRROR=

# container image name and version
QCOS_CONTAINER_NAME=qcos
QCOS_IMAGE_NAME=qcos
QCOS_IMAGE_VERSION=2025-06-01
CONTAINER_BASE_IMAGE=openeuler/openeuler:24.03-lts
OUTPUT_IMAGE_DIR=./images
REGISTRY=
