# copy env.template to .env, and configure .env
# QCOS configures
DEBUG=False
LOCAL_CICD=False
# Production mode: DEV=False. Development mode: DEV=True.
DEV=False
# Build wheel in sandbox: True, False
BUILD_WHEEL_IN_SANDBOX=True

# [Optional] Offline mode. OpenEuler yum mirror
# examples:
# YUM_MIRROR=http://mirrors.cmecloud.cn/openeuler
# YUM_MIRROR=http://mirrors.bclinux.org/openeuler  (cmss internal use only)
YUM_MIRROR=
# [Optional] Offline mode. Python pip mirror
# examples:
# PIP_MIRROR=https://mirrors.aliyun.com/pypi/simple
# PIP_MIRROR=http://mirrors.bclinux.org/bigcloud/bc-uns/bc-uns/pip/2.7/simple  (cmss internal use only)
PIP_MIRROR=
# [Optional] Offline mode. NPM mirror
# examples:
# NPM_MIRROR=https://registry.npmmirror.com
# NPM_MIRROR=http://mirrors.bclinux.org:28081/repository/qcos/   (cmss internal use only)
NPM_MIRROR=
# [Optional] Python source code mirror
# examples:
# PYTHON_SRC_MIRROR=https://www.python.org/ftp/python/3.11.6/Python-3.11.6.tgz
# PYTHON_SRC_MIRROR=http://mirrors.bclinux.org/bigcloud/bc-uns/bc-uns/extra_pkgs/pkgs/python/python-src/3.11.6/Python-3.11.6.tgz  (cmss internal use only)
PYTHON_SRC_MIRROR=
# [Optional] PYPY3 binary mirror
# examples:
# PYPY3_BIN_MIRROR=https://downloads.python.org/pypy/pypy3.11-v7.3.20-linux64.tar.bz2
# PYPY3_BIN_MIRROR=http://mirrors.bclinux.org/bigcloud/bc-uns/bc-uns/extra_pkgs/pkgs/python/pypy/pypy3.11-v7.3.20-linux64.tar.bz2  (cmss internal use only)
PYPY3_BIN_MIRROR=
# [Optional] docker-compose binary mirror
# examples:
# DOCKER_COMPOSE_BIN_MIRROR=https://github.com/docker/compose/releases/download/v5.2.0/docker-compose-linux-x86_64
# DOCKER_COMPOSE_BIN_MIRROR=http://mirrors.bclinux.org/bigcloud/bc-uns/bc-uns/extra_pkgs/pkgs/docker/docker-compose/docker-compose-linux-x86_64-v5.2.0  (cmss internal use only)
DOCKER_COMPOSE_BIN_MIRROR=

# QCOS server configures
API_SERVER_LISTEN_IP=
API_SERVER_LISTEN_PORT=18400
PREFECT_API_URL=http://127.0.0.1:4200/api
QCOS_VERSION=${QCOS_VERSION:-1.0.0}

# REDIS server configures
REDIS_SERVER_LISTEN_IP=127.0.0.1
REDIS_SERVER_IP=127.0.0.1
REDIS_SERVER_PORT=6379

# QCOS client configures
QCOS_SERVER_IP=127.0.0.1
QCOS_SERVER_PORT=18400
QCOS_CLI_DIST=.oe1
QCOS_CLI_VERSION=${QCOS_CLI_VERSION:-1.0.0}

# Postgres configures
# DB_BACKEND: sqlite, postgres
DB_BACKEND=postgres
POSTGRES_ADMIN_PASSWORD=P@ssword1

# QCOS database configs
# pg: postgresql+pg8000://qcos:${QCOS_DATABASE_PASSWORD}@127.0.0.1:5432/qcos
# sqlite: sqlite:////var/qcos/db/qcos.db?timeout=30&journal_mode=WAL
# recommended：uppercase and lowercase letters, numbers, and special characters in the QCOS_DATABASE_PASSWORD
QCOS_DATABASE_PASSWORD=P@ssword1
QCOS_DATABASE_CONNECTION_URL=postgresql+pg8000://qcos:${QCOS_DATABASE_PASSWORD}@127.0.0.1:5432/qcos

# User configures
# authentication mode: "no" (default), "jwt", "virtual_instance"
QCOS_AUTH_MODE=no
QCOS_VIRTUAL_INSTANCE_ID=1234

# Prefect configures
# The IP address that prefect-server listen on, eg: 192.168.0.1, or all IPv4: 0.0.0.0, or all IPv6: ::
PREFECT_SERVER_API_HOST=0.0.0.0
PREFECT_SERVER_PORT=4200
PREFECT_LOCAL_STORAGE_PATH=/var/qcos/storage

# Prefect database config
# PREFECT_SERVER_DATABASE_CONNECTION_URL: sqlite, postgresql
# sqlite mode: sqlite+aiosqlite:////var/qcos/db/prefect.db?timeout=30&journal_mode=WAL
# postgresql mode: postgresql+asyncpg://prefect:${PREFECT_DATABASE_PASSWORD}@127.0.0.1:5432/prefect
PREFECT_DATABASE_PASSWORD=P@ssword1
PREFECT_SERVER_DATABASE_CONNECTION_URL=postgresql+asyncpg://prefect:${PREFECT_DATABASE_PASSWORD}@127.0.0.1:5432/prefect

# monitoring configures
ENABLE_METRICS=False
METRICS_SERVER_LISTEN_IP=
METRICS_SERVER_LISTEN_PORT=19400
#prometheus
PROMETHEUS_PORT=9090
#grafana config
GF_SERVER_ROOT_URL=http://localhost:3000
GRAFANA_ADMIN_PASSWORD=P@ssword1
#alertmanager config
ALERTMANAGER_PORT=9093

# container image name and version
QCOS_CONTAINER_NAME=qcos
QCOS_IMAGE_NAME=qcos
QCOS_IMAGE_VERSION=${QCOS_IMAGE_VERSION:-QCOS_IMAGE_VERSION}
PREFECT_IMAGE_NAME=prefecthq/prefect
PREFECT_IMAGE_VERSION=3.7.8-python3.13
REDIS_IMAGE_NAME=redis
REDIS_IMAGE_VERSION=7.2.7
POSTGRES_IMAGE_NAME=postgres
POSTGRES_IMAGE_VERSION=18
PROMETHEUS_IMAGE_NAME=prom/prometheus
PROMETHEUS_IMAGE_VERSION=v2.51.0
GRAFANA_IMAGE_NAME=grafana/grafana
GRAFANA_IMAGE_VERSION=10.4.0
ALERTMANAGER_IMAGE_NAME=quay.io/prometheus/alertmanager
ALERTMANAGER_IMAGE_VERSION=v0.27.0
CONTAINER_BASE_IMAGE=openeuler/openeuler:24.03-lts
OUTPUT_IMAGE_DIR=./images
QCOS_REGISTRY=
REGISTRY=
