# copy env.template to k8s-pod.env, and configure k8s-pod.env
# K8S pod configs

# QCOS config
QCOS_NAMESPACE=qcos
QCOS_CONTAINER_NAME=qcos-api
QCOS_CLI_CONTAINER_NAME=qcos-cli
QCOS_API_SERVER_IP=127.0.0.1
QCOS_API_SERVER_PORT=18400
QCOS_ENABLE_VIRT=true
PASSWORD_SALT=abcd
QCOS_VIRTUAL_INSTANCE_ID=device-1234567890-b23f

# prefect configures
PREFECT_SERVER_API_HOST=127.0.0.1
PREFECT_SERVER_PORT=4200

# image name and version
REGISTRY=cicdcsy.harbor.cmss.com:18080/wuyue-platform/qcos/
QCOS_IMAGE_NAME=qcos
QCOS_IMAGE_VERSION=2025-06-01
QCOS_CLI_IMAGE_NAME=qcos-cli
QCOS_CLI_IMAGE_VERSION=2025-06-01
PREFECT_IMAGE_NAME=prefecthq/prefect
PREFECT_IMAGE_VERSION=3.3.3-python3.13

# others
DEBUG=False
DEV=False
