#!bin/sh
# copy env.template to k8s-pod.env, and configure k8s-pod.env
# K8s pod configs

# once K8s pods deployed, run the following commands to ensure the pods are running properly
# curl http://prefect-server.${QCOS_NAMESPACE}:${PREFECT_SERVER_PORT}
# OR
# curl http://prefect-server.${QCOS_NAMESPACE}.svc.cluster.local:${PREFECT_SERVER_PORT}

# QCOS server config
export QCOS_NAMESPACE=qcos
export QCOS_CONTAINER_NAME=qcos-api
export QCOS_CLI_CONTAINER_NAME=qcos-cli
# QCOS API Server IP configures
# listen on all IPv4+IPv6 address (Default): QCOS_API_SERVER_IP=
# listen on all IPV4 address: QCOS_API_SERVER_IP=0.0.0.0
# listen on all IPv6 address: QCOS_API_SERVER_IP=::
export QCOS_API_SERVER_IP=
export QCOS_API_SERVER_PORT=18400
export PREFECT_API_URL=http://prefect-server.${QCOS_NAMESPACE}:4200/api
export QCOS_ENABLE_VIRT=true
export PASSWORD_SALT=1234

# QCOS client config
export QCOS_SERVER_IP=${QCOS_CONTAINER_NAME}.${QCOS_NAMESPACE}
export QCOS_SERVER_PORT=${QCOS_API_SERVER_PORT}
export QCOS_VIRTUAL_INSTANCE_ID=dummy-1234567890-f97a
export QCOS_ADMIN_VIRTUAL_INSTANCE_ID=all-all-3366

# K8s volumes
export K8S_CODE_DATA_PVC="code-data-pvc"
export K8S_DATABASE_PVC="database-pvc"

# Prefect configures
# Prefect server API IP configures
# listen on all IPv4+IPv6 address (Default): PREFECT_SERVER_API_HOST=
# listen on all IPV4 address: PREFECT_SERVER_API_HOST=0.0.0.0
# listen on all IPv6 address: PREFECT_SERVER_API_HOST=::
export PREFECT_SERVER_API_HOST=
export PREFECT_SERVER_PORT=4200

# image name and version
export REGISTRY=cicdcsy.harbor.cmss.com:18080/wuyue-platform/qcos/
export QCOS_IMAGE_NAME=qcos
export QCOS_IMAGE_VERSION=2025-06-01
export QCOS_CLI_IMAGE_NAME=qcos-cli
export QCOS_CLI_IMAGE_VERSION=2025-06-01
export PREFECT_IMAGE_NAME=prefecthq/prefect
export PREFECT_IMAGE_VERSION=3.3.3-python3.13

# others
export DEBUG=False
export DEV=False
